/* -------------
Declaring fonts  
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================
    common styles 
    =============== */
    .input-btn {
        font-weight: 700;
        border: none;
        border-radius: 7px;
        padding: 15px 24px;
        margin-bottom: 50px;
        color: white;
        background-color: #FF900E;
    }

/*-----------------
 Nav bar styles 
 ------------------*/
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 7rem;
}

.navigation h2 {
    font-size: 26px;
}

.nav-options {
    display: flex;
    gap: 45px;
    list-style: none;
}

.nav-options li {
    color: #424242;
}

/*--------------------
 Header section styles 
 ----------------------*/

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.introduction h1 {
    font-size: 40px;
}

.introduction p {
    width: 60%;
}

.common-para {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #727272;

}
.introduction img {
    width: 60%;
    height: 50%;
    padding-bottom: 60px;
}

/* -----------------------
Quick list Features styles 
--------------------------*/

.team-section {
    
    display: flex;
    justify-content: center;
}
.quick-list{
    
    display: flex;
    gap: 25px;
    align-items: center;
     width: 80%;
}
.for-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
}

.feature-lists-detail, .grid-parent {
    flex: 2;
}

.feature-lists-detail h1 {
    font-size: 30px
}

.for-grid img {
    width: 90%;
}

/* ------------------------------------
Features you will love & enjoy style  
--------------------------------------*/
.top-features-section {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.top-features-section img {
    width: 85%;
    height: 80%;
}

.top-features {
    display: flex;
    gap: 40px;
    width: 85%;
}

.line-style {
    display: flex;
}

.line {
    border: 2px solid #FF900E;
    margin-right: 20px;
}

.top-feature-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-feature-detail,
.top-features-img {
    flex: 2;
}

.top-feature-para {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #727272;
}

.box-shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.box-shadow h4 {
    font-weight: 700;
    margin-bottom: 18px;
}

.box-shadow p {
    color: #727272;
}

.under-box-shadow {
    padding: 18px 15px;
}

.relative {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #FF900E;
    padding: 25px 10px;
    border: none;
    border-radius: 7px;
    margin-right: 23rem;

}
/* .architect{
    position: relative;
} */
.relative input{
    font-size: 35px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    border: none;
}

/*------------------------
     Achievement section 
     --------------------- */

.achieve-section {
    margin-bottom: 100px;
}
.achieve-parent {
    display: flex;
    justify-content: center;
}
.achieve-under-parent {
    display: flex;
    gap: 60px;
    width: 80%;
}
.achieve-img{
    width: 100%;
}
.achieve-img img {
    width: 100%;
    border-radius: 10px;
}
.achieve-detail h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.achieve-detail p{
    color: #727272;
    margin-bottom: 30px;
}

/* -----------------
    Some Facts section
--------------------*/
.main-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.facts-section {
    width: 85%;
}

.facts {
    margin-bottom: 100px;
    width: 85%;
    align-items: center;
}

.facts-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.facts p {
    width: 55%;
    color: #727272;
}

/* ---------------
    Icons style 
------------------ */
.animation{
    height: 30px;
    width: 30px;
    background-color: #FF900E;
    border-radius: 15px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    animation: ball ease-in 2s 0.1s alternate infinite;
    animation-play-state: running;
    display: none;
    
}
.icons:hover .animation{
        display: block;
}
@keyframes ball {
    0% {
        left: 0;
        top: 0;
        background-color: #FF900E;
    }
    50% {
        left: 50%;
        top: 125px;
        background-color: #6e4d28;
    }
    100%{
        top: 0;
        left: 87%;
        background-color: #FF900E;
    }
}

.icons-parent {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 100%;

}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 20px;
    width: 15%;
    height: 150px;
    position: relative;

    
}


.icons h3 {
    font-size: 25px;
}

.icons p {
    color: #727272;
}

.icons img,
h3 {
    margin-bottom: 10px;
}


/* -----------------------------
     Sponsors section styles 
---------------------------*/


.sponsors {
    display: flex;
    justify-content: center;
}

.under-sponsor {
    width: 85%;
    align-items: center;
}

.our-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.sponsors-des {
    color: #727272;
    width: 40%;
    margin-bottom: 50px;
}

.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;

}

.sponsors-img img {
    width: 10%;
    filter: grayscale(100%);
}

/*----------------------
 Footer style 
 ---------------------- */

footer {
    border: none;
    border-radius: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

footer div {
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #FFF4E7;
    width: 85%;
    height: 70px;
}

footer p {
    color: #424242;
    padding: 25px 100px;

}


/* =====================
    For responsive 
   ====================*/

   @media screen and (max-width: 576px) {
        .navigation{
            flex-direction: column;
            gap: 30px;
            padding-left: 50px;
            padding-right: 50px;
        }
    .nav-options{
            flex-direction: column;
        }
        .introduction h1{
            padding: 0 5px;
        }
        .quick-list{
            flex-direction: column;
        }
        .for-grid{
            grid-template-columns: 1fr;
        }
        .feature-lists-detail{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .top-features{
            flex-direction: column;
        }
        .achieve-under-parent{
            flex-direction: column-reverse;
        }
        .another-btn{
            margin-bottom: 10px;
        }
        .relative{
            width: 200px;
            margin-bottom: 150px;
        }
        .facts{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .icons-parent{
            flex-direction: column;
            gap: 25px;
        }
        .icons{
            width: 70%;
        }
        .sponsors-des{
            width: 100%;
        }
        .sponsors-img{
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        .sponsors-img img{
            width: 30%;
        }
        footer div{
            width: 100%;
        }
        footer p{
            padding: 25px 0;
        }
   }